.user{
    height: 100%;
    background-color: #ffffff
}

.user-id:hover{
    background-color: #e9ebeb
}

.user-img{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.user-name{
    height: 10%;
    background-color: #eaeaea
}

.user .user-name{
    border-right: 1px solid #b1b1b15b
}

.user-name i{
    color: rgba(0, 0, 0, 0.3);
}

.is-online{
    background-color: #8edafc;
    height: 10%;
}

.is-online i{
    background-color: #f2fbff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #8edafc;
    height: 50px;
    aspect-ratio: 1/1;
    margin: 0 10px
}

.sub-t{
    font-size: 12px
}

.search{
    color: rgba(0, 0, 0, 0.2);
    height: 5%;
    margin: 0 10px;
    width: 100%
}

.search input{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 7px;
    width: calc(100% - 50px)
}


.chat{
    height: 300px;
    overflow-y: auto;
    height: 75%;
}

.transparency-txt{
    color: rgba(0, 0, 0, 0.2);
    font-size: .75em;
}

.over-txt{
    text-overflow:"...";
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}





.message{
    height: 100%;
    background-color: #eaeaea
}

.chat-live{
    height: 80%;
    background-color: red;
    background-image: url(img/mine.jpg);
    background-repeat: repeat;
    padding: 20px 30px;
}

.chat-string{
    height: 10%;
    background-color: #f3eeea;
}

.chat-string input{
    width: 80%;
}

.received{
    margin-right: auto;
    margin-bottom: 0;
    width: 40%;
    background-color: #ffffff;
    text-align: left;
    padding: 12px;
    border-radius: 10px;
}

.sent{
    margin-left: auto;
    margin-bottom: 0;
    width: 40%;
    background-color: #d5f9ba;
    padding: 12px;
    border-radius: 10px;
}

.active{
    background-color: #7982b146;
}

.none{
    display: none;
}



.pir{
    font-size: 10px
}