    /* BG */

.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.first-color{
    height: 15%;
    background-color: #009688
}

.second-color{
    height: 85%;
    background-color: #dbdbd3
}


    /* SEC_1    COL_1*/

.user{
    height: 100%;
    background-color: #ffffff
}

.user-id{
    cursor: pointer;
}

.user-id:hover{
    background-color: #e9ebeb
}

.user-img{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.user-name{
    height: 10%;
    background-color: #eaeaea
}

.user .user-name{
    border-right: 1px solid #b1b1b15b
}

.user-name i{
    color: rgba(0, 0, 0, 0.3);
}

    /* SEC_2 */

.is-online{
    background-color: #8edafc;
    height: 10%;
}

.is-online i{
    background-color: #f2fbff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #8edafc;
    height: 50px;
    aspect-ratio: 1/1;
    margin: 0 10px
}

.sub-text{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: underline;
}


    /* SEC_3 */

.search{
    color: rgba(0, 0, 0, 0.2);
    height: 5%;
    margin: 0 10px;
    width: 100%
}

.search input{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 7px;
    width: calc(100% - 50px)
}


    /* SEC_4 */


.chat{
    height: 300px;
    overflow-y: auto;
    height: 75%;
}

.over-txt{
    text-overflow:"...";
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}



    /* SEC_1    COL_2 */

.message{
    height: 100%;
    background-color: #eaeaea
}


    /* SEC_1 */

.chat-live{
    height: 80%;
    background-color: red;
    background-image: url(img/mine.jpg);
    background-repeat: repeat;
    padding: 20px 30px;
}

    /* SEC_2 */

.chat-string{
    height: 10%;
    background-color: #f3eeea;
}

.chat-string input{
    width: 80%;
}

    /* DROP DOWN */

.drop-click{
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.drop{
    top: 20px;
    right: 10px;
    margin: 10px 20px;
    background-color: #e9ebeb;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 100ms ease-in-out;
    z-index: 0;
    box-shadow: 5px 5px 5px rgb(168, 168, 168)
}

.drop p{
    padding: 10px 20px;
    cursor: pointer;
}
.drop p:hover{
    background-color: #c4c7c7
}

.visible{
    transform: scale(1, 1);
    transition: all 100ms;
    z-index: 1;
}

.noMessage{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(133, 133, 133);
}

    /* FUNCTIONAL CLASS */

.txt-grey{
    color: rgba(0, 0, 0, 0.2);
}

.fs-7{
    font-size: 0.75rem
}

.received{
    margin-right: auto;
    margin-bottom: 10px;
    width: 40%;
    background-color: #ffffff;
    text-align: left;
    border-radius: 10px;
}

.sent{
    margin-left: auto;
    margin-bottom: 10px;
    width: 40%;
    background-color: #d5f9ba;
    border-radius: 10px;
}

.active{
    background-color: #7982b146;
}